.mainView {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: white;
    color: black;
}

.DeportesTitle {
    width: auto;
    max-width: 300px;
    margin: 0;
    padding: 0 50px;
    font-size: 22px;
    font-weight: 300;
    color: var(--font-color-hard);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.carouselContainer {
    width: 100%;
    height: 260px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: transparent transparent;
    white-space: nowrap;
    gap: 30px;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.carouselItem {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 2px;
    position: relative;
    min-width: 230px;
    height: 160px;
    transition: .2s ease-out;

    &:hover {
        border: 2px solid var(--bg-color2);
        scale: 1;
    }

    & p {
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%);
    }

    & div {
        /* max-width: 200px; */
        width: 100%;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        /* box-shadow: 0 1px 3px 1px rgb(173, 173, 173); */
        cursor: pointer;

        & img {
            background-color: inherit;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}