.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .paymentDetails,
  .purchaseDetails {
    margin-top: 20px;
  }
  
  .btn {
    margin-top: 20px;
  }