.reviewsContainer {
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        padding: 0;
        margin: 0;
    }

    & .productCode {
        font-size: 14px;
        font-weight: 300;
        color: gray;
    }

    & .submitButton {
        padding: 10px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    
    & .submitButtonOff {
        padding: 10px;
        background-color: gray;
        color: white;
        cursor: default;
        border: none;
        border-radius: 5px;
    }
}

#closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    color: gray;
    opacity: .8;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.Pruntuacion {
    font-size: 22px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        font-size: 20px;
    }
}

.descriptionContainer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & label {
        font-size: 20px;
        font-weight: 300;
    }

    & textarea {
        resize: none;
        width: 100%;
        min-height: 140px;
        border-radius: 10px;
        padding: 10px;
    }
}

.ratingContainer,
.descriptionContainer {
    margin-bottom: 15px;

    & p {
        font-weight: 300;
        align-self: flex-start;
    }

    & .pending {
        color: rgb(189, 116, 0);
    }

    & .accepted {
        color: rgb(31, 141, 0);
    }

    & .rejected {
        color: rgb(198, 0, 0);

        & span {
            font-weight: 700;
        }
    }

    & textarea {
        width: 100%;
    }

    & .textRejected {
        border: 1px solid rgba(198, 0, 0, 0.456);
        background-color: rgba(198, 0, 0, 0.07);

    }

    & .textAccepted {
        border: 2px solid rgba(31, 141, 0, 0.476);
        background-color: rgba(31, 141, 0, 0.084);
    }

    /* & .textPending {
        border: 1px solid rgba(189, 117, 0, 0.588);
    } */
}

.starsContainer {
    /* width: 150px; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    & i {
        padding: 0 2px;
        font-size: 25px;
        cursor: pointer;
        color: var(--button-color);
        opacity: .7;
    }
}

.error {
    color: red;
}
