.mainView {
    width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
    background-color: transparent;
    color: black;
}

.subMainView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .newProduct {
        color: gray;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        padding: 0 5px;
        margin: 5px 8px;
        border: 1px solid rgba(128, 128, 128, 0.558);
        border-radius: 3px;
    }

    & .hiddenText {
        scale: 0;
    }

    & p {
        overflow: hidden;
        color: var(--font-color-hard);
    }
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 1px 2px 1px rgb(204, 204, 204);
    transition: .3s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 1px 6px 2px rgb(185, 185, 185);
    }

    & img {
        width: 100%;
        min-height: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .4s ease-in-out;
    }
}

#imgHover {
    & img {
        scale: 1.06;
    }
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 21%, rgba(0, 0, 0, 0.38672768878718533) 96%);

    & div {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.665);
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgb(255, 255, 255);
        }

        & i {
            font-size: 20px;
            font-weight: 500;
            color: var(--button-color);
        }
    }
}

.downSideContainer {
    width: 100%;
    padding-top: 10px;
}

.categoryNameContainer {
    /* height: 22px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & p {
        /* height: 100%; */
        width: auto;
        font-size: 12px;
        font-weight: 300;
        color: gray;
        padding: 0;
        margin: 0;
    }

    & .category {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    & .starContainer {
        display: flex;
        align-items: center;

        & p{
            margin: 0 10px;
            color: var(--font-color-hard);
        }

        & i {
            font-size: 12px;
            padding: 0;
            margin: 0;
            color: var(--font-color-hard);
            opacity: .9;
        }
    }
}

.titleContainer {
    width: 100%;
    /* height: 25px; */
    cursor: pointer;
    display: flex;
    align-items: center;

    & p {
        height: 100%;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.brandContainer {
    width: 100%;
    /* height: 25px; */
    cursor: pointer;
    display: flex;
    align-items: center;

    & p {
        height: 100%;
        font-size: 14px;
        font-weight: 400;
        color: gray;
        padding: 0;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.priceContainer {
    width: 100%;
    /* height: 44px; */

    & p {
        line-height: 30px;
        font-size: 22px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        color: var(--font-color-hard);
    }

    & .newPrice {
        /* color: var(--newPrice-color); */
        /* color: var(--newPrice-color); */
        color: var(--font-color-hard);
    }

    & .discountContainer {
        display: flex;

        & p {
            padding: 0;
            margin: 0;
            font-weight: 300;
            font-size: 13px;
            color: gray;
        }

        & .oldPrice {
            margin-left: 10px;

            & span {
                color: gray;
                text-decoration: line-through;
            }
        }

        & .discount {
            padding: 0;
            margin: 0;
            font-weight: 300;

            & span {
                /* color: var(--button-color); */
                color: var(--newPrice-color);
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}