.mainView {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: transparent;
    color: black;
}

.subMainView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & p {
        overflow: hidden;
    }
}

.imgContainer {
    position: relative;
    width: 100%;
    min-height: 70%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.412);
    cursor: pointer;

    &:hover {
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.714);
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .4s ease-in-out;
    }
}

#imgHover {
    & img {
        scale: 1.2;
    }
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 21%, rgba(0, 0, 0, 0.38672768878718533) 96%);

    & div {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.665);
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgb(255, 255, 255);
        }

        & i {
            font-size: 20px;
            font-weight: 500;
            color: var(--button-color);
        }
    }
}

.downSideContainer {
    width: 100%;
    padding-top: 10px;
}

.titleContainer {
    width: 100%;
    height: 30px;
    cursor: pointer;

    & p {
        height: 100%;
        font-size: 18px;
        font-weight: 500;
        padding: 0;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.categoryNameContainer {
    cursor: pointer;
    height: 22px;

    & p {
        height: 100%;
        width: auto;
        font-size: 14px;
        font-weight: 500;
        color: gray;
        padding: 0;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.priceContainer {
    width: 100%;
    height: 44px;

    & p {
        line-height: 30px;
        height: 100%;
        font-size: 28px;
        padding: 0;
        margin: 0;
    }
}