.aboutContainer {
  margin: 30px;
}

.textConteiner {
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  width: 100%;
}

.companyCard {
  width: 100%;
}

.teamCardsContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.logo {
  margin-top: 30px;
  height: 70%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  object-position: center;
}

