.aboutContainer {
  margin: 30px;
}

#row {
  display: flex;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  text-align: center;
}

.companyCard {
  width: 100%;
}

.teamCardsContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}