.conteinerDetail {
margin-bottom: auto;

}

.titleBox {
  
  color: black;
  position: absolute;
  top: 50%;
  left:60%;
  transform: translate(-50%, -50%);
}

.img {
  
}

.img img {
  width: 650px;
  height: 450px;
  border-radius: 8px;
  margin-left: 20px;
  background-color: blueviolet;
}
