.conteinerDetail {
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: black;
  overflow: hidden;

  & p {
    padding: 0;
    margin: 0;
  }
}

.subContainerDetail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Carousel2Container {
  width: 100%;
}

.boxTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: 30px;
}

.imgContainer {

  width: 100%;
  min-height: 100%;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;

  & div {
    background-color: var(--bg-color-gray);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      opacity: 0.8;

      & img {
        scale: 1.06;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.buttonContainer {
  width: 300px;
  height: 50px;
  margin: 50px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--button-color);

  & button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
  }

  &:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 255, 0.349);
  }
}

.Box {
  
  width: 50%;
  min-height: 500px;
  padding: 10px;
  display: flex;
  position: absolute;
  margin-left: 40%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;

  & p {
    font-size: 25px;
    font-weight: 300;
    color: var(--bg-color2);
    padding: 5px;
  }
}

.buttonBoxColor {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 20px;

  & button {
    background-color: var(--bg-color-gray);
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    height: 20%;
    cursor: pointer;
    padding: 10px;
    width: 200px;
  }

  & button:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.26);
  }
}

.talleBox {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 20px;

  & button {
    background-color: grey;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    height: 20%;
    cursor: pointer;
    padding: 10px;
    width: 200px;
  }

  & button:hover {
    opacity: 0.8;
    background-color: red;
  }
}

.selected {
  background-color: rgba(255, 0, 0, 0.329);
}

.shareButtonsContainer {
  display: flex;
  justify-content: left;
  padding: 10px;
  background-color: aqua;

  & button {
    background-color: rgba(0, 0, 0, 0.096);
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    height: 20%;
    cursor: pointer;
    padding: 10px;
    width: 100px;
  }
  & button:hover {
    opacity: 0.8;
    background-color: rgba(245, 245, 220, 0.514);
  }
}

.shippingInfoContainer {
  padding: 15px;
  width: 100%;
  & button {
    background-color: rgba(128, 128, 128, 0.212);
    padding: 5px;
    border-radius: 10px;
  }
}

.quantity {
  & input {
    border: none;
    margin-left: 10px;
  }
}

.shippingInfoContent{
  
  & p {
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
}