



.imageContainer {
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  object-fit: cover;
  flex-grow: 1;

  &:hover {
    opacity: 0.8;

    & img {
      scale: 1.1;
      transition: 0.3s ease-in-out;
    }
  }
}



.listGroupItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 20px;
}
