.mainView {
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--bg-color-body);
}

.FilterBarContainer {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 260px;
  height: 100vh;
  z-index: 100;
}

@media only screen and (max-width: 500px) {
  .FilterBarContainer {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .FilterBarContainer {
    width: 30%;
  }
}

.conteinerHome {
  background-color: rgb(99, 99, 99);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  color: rgba(0, 0, 0, 0.699);
  margin: 40px;
  align-self: center;
}

.conteinerCards{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cardComponentContainer{
  width: 250px;
  height: 370px;
}
