:root {
  --categoryBar-height: 40px;
}

.mainView {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-body);
}

.subMainView {
  position: relative;
  width: 100%;
  display: flex;
}

.categoryBarContainer {
  position: sticky;
  top: 0;
  left: 0;
  height: var(--categoryBar-height);
  width: 100%;
  z-index: 100;
}

.FilterBarContainer {
  position: sticky;
  top: var(--categoryBar-height);
  left: 0;
  max-width: 260px;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  .FilterBarContainer {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .FilterBarContainer {
    width: 30%;
  }
}

.conteinerHome {
  /* background-color: rgb(99, 99, 99); */
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 45px;

  & h2 {
    position: absolute;
    top: 0;
    z-index: 30;
    width: 100%;
  }

  & .carouselHomeContainer {
    background-color: green;
  }
}

.title {
  color: rgba(0, 0, 0, 0.699);
  margin: 40px;
  align-self: center;
}

.resultsContainer{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  & p {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    color: black;
  }
}

.conteinerCards {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 50px 0;
}

.cardComponentContainer {
  width: 230px;
  height: 370px;
}