.container {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 20px;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 10px;
  flex-direction: column;
}

.mainView {
  position: relative;
  width: 100%;
  height: var(--navBar-height);
  color: black;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.borderNavBar {
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}

.subMainView {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  overflow: hidden;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.navBarContainer {
  width: 100%;
  height: 100%;
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.menuContainer {
  /* position: absolute;
  top: 0;
  right: 10px; */
  height: 100%;
  margin: 0 0 0 10px;
  /* width: 50px; */

  & i {
    font-size: 22px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1000px) {
  .menuContainer {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .menuContainerHidden {
    display: none;
  }
}

.logoContainer {
  width: 45px;
  height: 45px;
  margin: 0 10px 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .logoContainerHidden {
    display: none;
  }
}

.logoTitle {
  padding: 0;
  margin: 0 10px 0 0;
  font-size: 22px;
  color: var(--font-color-hard);
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .logoTitle {
    display: none;
  }
}

#searchbarContainer {
  flex: 1;
  height: 70%;
  /* margin: 0 10px 0 10px; */
}

.linksContainer {
  max-height: 100%;
  width: 500px;
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin: 10px;
  color: gray;

  & div {
    /* padding: 5px 0; */
    margin: 0;
    max-width: 120px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: .2s ease;

    & p {
      padding: 0;
      margin: 0;
    }

    & select {
      color: gray;
      background-color: transparent;
      height: 100%;
      padding: 5px 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: .2s ease;

      &:hover {
        color: var(--font-color-hard);
      }
    }

    &:hover {
      /* border: 2px solid var(--bg-color2); */
      color: black;
    }
  }

  & .userLogContainer {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;

    &:hover {

      & img,
      p {
        border-radius: 5px;
        transition: .4s;
      }
    }

    & .profileLogo {
      position: relative;

      & .circleNotify {
        background-color: red;
        position: absolute;
        width: 13px;
        height: 13px;
        border: 1px solid white;
        border-radius: 100%;
        right: -2px;
        top: -2px;
      }
    }

    & .adminLogContainer {

      /* estilos de admin */
      & p {
        background-color: rgb(126, 42, 165);
      }
    }

    & div {
      padding: 0;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      /* overflow: hidden; */

      & img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
        transition: .4s;
      }

      & p {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        background-color: var(--button-color);
        border-radius: 100%;
        color: white;
        transition: .4s;
      }
    }
  }
}

.cartContainer {
  /* background-color: white; */
  /* background-color: rgb(229, 241, 255); */
  display: flex;
  align-items: center;
  min-width: 120px;
  padding: 2px 0;
  color: var(--button-color);

  & p {
    color: var(--button-color);
    font-weight: 500;
  }

  &:hover {
    background-color: rgb(229, 241, 255);
  }

  & .cartNumber {
    background-color: transparent;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    animation: move 1s ease-out both;

    & p {
      /* border: 1px solid var(--button-color); */
      border-radius: 5px;
      min-width: 22px;
      font-size: 12px;
      padding: 0;
      margin: 0;
      color: var(--button-color);
      text-align: center;
    }
  }

  & .quantity {
    background-color: white;
  }
}

@media only screen and (max-width: 1000px) {
  .linksContainer {
    display: none;
  }
}








/* RESPONSIVE */

.mainViewResponsive {
  overflow: hidden;
  width: 100%;
  height: 350px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.373);
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.106); */
  transition: all .3s ease-in-out;
}

@media only screen and (min-width: 1000px) {
  .responsiveContainer {
    display: none;
  }

  .mainViewResponsive {
    height: 60px;
  }
}

.responsiveContainer {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 10px; */
  color: var(--button-color);


  & div {
    width: 100%;
    min-height: 45px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--font-color-hard);
    cursor: pointer;

    & p {
      padding: 5px 0;
      margin: 0;
      font-size: 16px;
      width: auto;
    }

    & .selectResponsive {
      background-color: transparent;
      /* width: 100%; */
      height: 100%;
      border: none;
      cursor: pointer;
      color: var(--font-color-hard);
      text-align: center;
    }

    &:hover {
      background-color: var(--bg-color3-hard);
      color: white;

      & .selectResponsive {
        color: white;
      }
    }
  }

  & .cartContainerResponsibe {
    color: var(--button-color);
    display: flex;
    gap: 8px;
  }

  & .access {
    display: flex;
    gap: 8px;
  }
}






/* ANIMATIONS */

@keyframes move {
  0% {
    transform: rotate(510deg);
    background-color: var(--button-color);
    scale: .9;
  }

  50% {
    scale: 1.2;
  }

  100% {
    transform: rotate(0deg);
    background-color: white;
    scale: 1;
  }
}