.text{
    width:200px;
    min-height: 100%;
    }
  
  .text ul li:hover {
    background-color:rgba(194, 185, 197, 0.685);
    border-radius: 10px;
    cursor:pointer;
   }

.text a{ 
    text-decoration:none;
    & :hover{color:black}
}

.active{
    background-color:rgb(156, 116, 196);
    border-radius: 10px;
}

