.imgConteiner {
  & img {
    width: 15%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

.title {
  padding: 30px;
}

.p {
  margin: 10px;
}

.card {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
