.imgConteiner {
  background-color: aqua;
 

  & img {
    width: 15%;
    height: 90%;
    display: flex;
    justify-content:space-between; /* Ajusta según tu necesidad: 'flex-start', 'flex-end', 'space-between', etc. */
    align-items:end;
  }
}
