:root {
    --padding-left-tableParamns: 7px;
    --height-params-table: 35px;
    --minWidth-counterParam: 50px;
    --fontSize-params: 14px;
}

.mainView {
    width: 100%;
    height: 100%;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.761);
}

.tableContainer {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;

    & p {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        font-size: var(--fontSize-params);
    }
}

.paramsContainer {
    width: 100%;
    min-height: var(--height-params-table);
    display: flex;
    background-color: gray;

    & .counterParam {
        flex: 0;
        padding: 0 0 0 var(--padding-left-tableParamns);
        min-width: var(--minWidth-counterParam);
    }

    & p {
        font-weight: 600;
        font-size: var(--fontSize-params);
        color: white;
        min-height: 100%;
    }
}

.recordsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.records {
    width: 100%;
    min-height: var(--height-params-table);
    display: flex;
    border-top: 1px solid rgb(212, 212, 212);
    

    & .counterValue {
        flex: 0;
        padding: 0 0 0 var(--padding-left-tableParamns);
        min-width: var(--minWidth-counterParam);
        font-weight: 600;
        font-size: var(--fontSize-params);
    }

    & p {
        min-height: 100%;
        width: 100px;
        overflow: hidden;
    }
}

.records:nth-child(even){
    background-color: var(--bg-color-gray);
}

.records:nth-child(odd){
    background-color: white;
}