:root {
    --padding-left-tableParamns: 7px;
    --height-params-table: 35px;
    --minWidth-counterParam: 30px;
    --fontSize-params: 14px;
}

.mainView {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.761);
    border-radius: 10px;
    overflow: hidden;
}

.tableContainer {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;

    & p {
        flex: 1;
        margin: 0;
        font-size: var(--fontSize-params);
    }
}

.paramsContainer {
    width: 100%;
    min-height: var(--height-params-table);
    display: flex;
    background-color: gray;

    & .param:nth-child(2) {
        min-width: 120px;
    }

    & .counterParam {
        flex: 0;
        padding: 0 0 0 var(--padding-left-tableParamns);
        min-width: var(--minWidth-counterParam);
    }

    & p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        font-size: var(--fontSize-params);
        color: white;
        min-height: 100%;
    }
}

.recordsContainer {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.records {
    width: 100%;
    min-height: var(--height-params-table);
    display: flex;
    border-top: 1px solid rgb(212, 212, 212);

    & .value:nth-child(2) {
        min-width: 120px;
    }

    & .counterValue {
        flex: 0;
        padding: 0 0 0 var(--padding-left-tableParamns);
        min-width: var(--minWidth-counterParam);
        font-weight: 600;
        font-size: var(--fontSize-params);
    }

    & #p {
        /* min-height: 100%; */
        width: 100px;
        padding: 0 5px;
        word-wrap: break-word;
        /* overflow: hidden; */
    }
}

.records:nth-child(even) {
    background-color: var(--bg-color-gray);
}

.records:nth-child(odd) {
    background-color: white;
}

.buttonReviews {
    width: 100px;
    height: 45px;
    margin: 10px;

    & button {
        background-color: var(--button-color);
        font-size: var(--fontSize-params);
        width: 100%;
        height: 100%;
        border: none;
        color: white;
        font-weight: 300;
        word-wrap: break-word;
        border: 2px solid var(--button-color);
        border-radius: 10px;
    }

    &:hover {
        opacity: .9;
    }
}

.coment {
    color: black;
    background-color: white;
    font-size: var(--fontSize-params);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    cursor: pointer;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    transition: .1s ease;

    &:hover {
        background-color: rgb(99, 57, 145);
    border: 2px solid rgb(99, 57, 145);
        color: white;
        transition: .1s ease;
    }
}