:root {
    --padding-left-tableParamns: 7px;
    --height-params-table: 35px;
    --minWidth-counterParam: 30px;
    --fontSize-params: 14px;
}

.mainView {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.761);
    border-radius: 10px;
    overflow: hidden;
}

.tableContainer {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;

    & p {
        flex: 1;
        margin: 0;
        padding: 0;
        font-size: var(--fontSize-params);
    }
}

.paramsContainer {
    width: 100%;
    min-height: var(--height-params-table);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: gray;

    & .param {
        padding: 0 5px;
    }

    & .param:nth-child(2) {
        max-width: 340px;
    }

    & .param:nth-child(3) {
        max-width: 70px;
    }

    & .param:nth-child(4) {
        max-width: 110px;
    }

    & .param:nth-child(5) {
        max-width: 90px;
    }

    @media only screen and (max-width: 600px) {
        .param:nth-child(5) {
            display: none;
        }
    }

    & .param:nth-child(6) {
        margin: 10px;
        max-width: 80px;
        display: flex;
        justify-content: center;
    }

    & .counterParam {
        flex: 0;
        padding: 0 0 0 var(--padding-left-tableParamns);
        min-width: var(--minWidth-counterParam);
    }

    & p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        font-size: var(--fontSize-params);
        color: white;
        min-height: 100%;
    }
}

.recordsContainer {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.records {
    position: relative;
    width: 100%;
    min-height: var(--height-params-table);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(212, 212, 212);

    & .value:nth-child(2) {
        max-width: 340px;
    }

    & .value:nth-child(3) {
        max-width: 70px;
    }

    & .value:nth-child(4) {
        max-width: 110px;
    }

    & .value:nth-child(5) {
        max-width: 90px;
    }

    @media only screen and (max-width: 600px) {
        .value:nth-child(5) {
            display: none;
        }
    }

    & .counterValue {
        flex: 0;
        padding: 0 0 0 var(--padding-left-tableParamns);
        min-width: var(--minWidth-counterParam);
        font-weight: 600;
        font-size: var(--fontSize-params);
    }

    & #p {
        /* min-height: 100%; */
        width: 100px;
        padding: 0 5px;
        word-wrap: break-word;
        /* overflow: hidden; */
    }
}

.records:nth-child(even) {
    background-color: var(--bg-color-gray);
}

.records:nth-child(odd) {
    background-color: white;
}






/* BUTTON SECTION */

.buttonReviews {
    height: 40px;
    margin: 10px;
    max-width: 80px;
    min-width: 80px;
    padding: 1px;
    border: 2px solid transparent;
    border-radius: 7px;
    display: flex;
    justify-content: center;

    & button {
        font-size: var(--fontSize-params);
        width: 100%;
        height: 100%;
        border: none;
        color: rgb(96, 47, 148);
        font-weight: 400;
        word-wrap: break-word;
        background-color: rgba(100, 57, 145, 0.219);
        border: 2px solid transparent;
        border-radius: 5px;
        opacity: .7;
        transition: all .2s ease;

        &:hover {
            opacity: 1;
            background-color: rgba(100, 57, 145, 0.219);
            border: 2px solid rgb(96, 47, 148);
            transition: all .2s ease;
        }
    }
}

.coment {
    background-color: rgb(99, 57, 145);
    border: 2px solid rgb(99, 57, 145);
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: var(--fontSize-params);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    cursor: pointer;

    &:hover {
        background-color: rgb(96, 47, 148);
    }
}