.text-sidebar {
  color: white;
}

.cardComponentContainer {
  width: 200px;
  height: 400px;
}

.conteinerCardsHidden {
  display: none;
}

.conteinerCards {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.holiRender {
  background-color: red;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}