:root {
    --button-color: #0d6efd;
    --button-color-hover: #0060f1;
    --bg-color-body2: rgba(33,37,41);
    --bg-color-body: white;
    --bg-color-gray: #ebebeb;
    --bg-color2: #9d75c4;
    --bg-color1: rgb(0, 136, 255);
    --bg-gradient1: linear-gradient(117deg, rgba(0, 136, 255, 1) 0%, rgba(0, 214, 255, 1) 26%, rgba(0, 187, 255, 1) 77%);
}

/* MAIN DIV */
.mainView {
    width: 100%;
    background-color: var(--bg-color-body);
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
}

/* NAV BAR */
.navBarContainer {
    width: 100%;
    /* height: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* CAROUSEL CONTAINER */
.carouselContainer {
    height: 400px;
    width: 100%;
}

/* CAROUSEL 2 CONTAINER */
.carousel2Container {
    /* height: 200px; */
    width: 100%;
}

/* ROUTES */
.routesContainer {
    width: 100%;
}