.title{
    padding: 30px;
}

.titleH3{
     align-items: center;
     display: flex;
     justify-content: center;
}

.p{
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%; 
}


