.dropDownContainer {
    background-color: white;
    width: 160px;
    height: 160px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.192);

    & p {
        padding: 0;
        margin: 0;
    }

    & .name {
        height: 60px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 300;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(189, 189, 189);
        overflow: hidden;
    }

    & .lowSection {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & p {
            font-size: 14px;
            flex: 1;
            display: flex;
            align-items: center;
        }

        & div {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
            opacity: .7;
            cursor: pointer;

            &:hover {
                /* background-color: var(--bg-color-gray); */
                opacity: 1;

                & p {
                    font-size: 15px;
                }
            }
        }
    }
}