.mainView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap--elements-filterBox);

    & p {
        margin: 0;
        padding: 0;
        width: auto;
        font-weight: var(--font-weight);
        opacity: var(--opacity-soft-solid);
    }
}

.rangeBox {
    display: flex;
    height: var(--input-height);
    width: 100%;

    & p {
        width: 20px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
}

.inputBox {
    height: 100%;
    flex: 1;

    & input {
        width: 100%;
        height: 100%;
        border: 1px solid gray;
        border-radius: 5px;
        text-align: center;
    }
}

.button{
    text-align: center;
}
